.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 10px;
    border: 2px solid black;
    /* to arrange in horizontal line */
    /* float: left; */
    position: absolute;
    top: 50px;
    /* to view the first box in front of the image, we can use z-index property */
    z-index: 10;
}
#img{
    background-image: url('https://images.pexels.com/photos/37573774/pexels-photo-37573774.jpeg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    padding: 10px;
    background-color: black;
    position: fixed;
    width: 100%;
    /* top: 50px; */
}
h1{
    color:red;
    margin: 10px;
}
p{
    margin: 10px;
    text-align: justify;
    font-size: 20px;
}
#row{
    height: 500px;
    background-color: lightgreen;
    position: relative;
}
marquee{
    background-color: yellow;
    position: sticky;
    top: 50px;
}