*{
    background-color:black;
}
h1{
     color: white;
     text-align: center;
}
.container{
    display: flex;
    justify-content: center; /* centers boxes horizontally */
}
.box{
    width: 100px;
    height: 120px;
    margin: 2px;
    /* to arrange in horizontal line */
    float: left;
     display: flex;
    justify-content: center;
    align-items: center;
    
}
