*{
    /* background-color: aliceblue; */
    margin: 0;
    border: 0;
}
#box{
    height: 500px;
    width: 350px;
    background-color: rgba(11, 11, 11, 0.632);
    margin-top: 120px;
    margin-left: 550px;
    border-radius: 10%;
}
img{
    background-color: transparent;
    margin-top: 50px;
    margin-left: 130px;
}
h2{
    color: blueviolet;
    text-align: center;
}
p{
    text-align: center;
    color: white;
}
#ip{
    text-align: center;
}
.i{
    width: 200px;
    height: 22px;
    border-radius: 8%;
    color: black;
}
.input{
    position: relative;
    width: 50px;
}
.input input{
    
}